spring:
  application:
    name: "configserver"
  profiles:
#    active: native local usge for file path and config server
    active: git
  cloud:
    config:
      server:
        #native:
         # search-locations:
          #- "classpath:/config"
        git:
          uri: "https://github.com/AjayDominic/microservice-bankingsolutions-config.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

encrypt:
  key: "fd485e70487f338f510e8217b57e127fc289acfae6c212f4756a28c80f9d3e05"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8071
